<app-header [pageTitle]="pageTitle"></app-header>

<ion-content>
    <ion-card>
        <ion-card-header>
          <img src="../../../assets/img/cheems.png" />
        </ion-card-header>
        <ion-card-header> 
            <ion-card-subtitle>Nombre:</ion-card-subtitle>
          <ion-card-title>Daniel Pinto</ion-card-title>
          <br>
          <ion-card-subtitle>Alias:</ion-card-subtitle>
          <ion-card-title>Leidan</ion-card-title>
          <br>
          <ion-card-subtitle>Ocupación:</ion-card-subtitle>
          <ion-card-title>Valer pura berga</ion-card-title>
        </ion-card-header>
      </ion-card>
</ion-content>
